.flex-column-container {
    display: flex;
    flex-direction: row;
}

.flex-row-container {
    display: flex;
    flex-direction: column;
}

.flex-row-container-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.my-game-board {
    margin: 5px;
    border: solid;
}

.opp-game-board {
    margin: 5px;
    margin-left: 50px;
    border: solid;
}

.block-queue {
    margin: 5px;
    border: solid;
}

.block-storage {
    margin: 5px;
    border: solid;
}