.flex-column-container {
    display: flex;
    flex-direction: row;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-row-container-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.my-banner {
    margin: 10px;
    font-size: 2.5em;
}

.opp-banner {
    margin: 5px;
}

.my-game-board {
    margin: 5px;
    border: solid;
}

.opp-game-board {
    margin: 5px;
    border: solid;
    max-width: 100px;
    max-height: 200px;
}

.block-queue {
    margin: 5px;
    border: solid;
    width: min(80px, 15vw);
    height: min(80px, 15vw);
}

.block-storage {
    margin: 5px;
    border: solid;
    width: min(80px, 15vw);
    height: min(80px, 15vw);
}